.profile{
  background-color: white;
  font-family: sans-serif;
  text-align: center; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  float: left;
  padding: 0 10px;

}

.profile__image{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 2px auto;
  display: block; 
}

.organization{
background-color: white;
font-family: sans-serif;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 500px;
margin: auto;
float: left;
padding: 0 10px;
}

.org_img{
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 50%;
margin: 0 auto 2px auto;
display: block; 
}

.profile + .organization {
margin: 0 0 0 8px;
}

.profile__name{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  color:  #6A5638; 
}  

.profile__org{
font-size: 1.2em;
font-weight: bold;
margin-bottom: 20px;
color:  #6A5638; 
}

.profile__detail{
display: flex;
align-items: center;
justify-content: center;
font-size: 0.9em; 
}

* {
box-sizing: border-box;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
.organization {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
}