:root{
    --DGold: #6A5638;
    --DRed: #501214;
    --Blue: #1C6EA4;
    --White: #FFFFFF;
    --Black: #000000;
    --LGrey: #F0F0F0;
    --Grey: #DeDeDe;
}



.header {
    padding-top: 40px;
    background: #6A5638;
    color: white;
}

.header2 {
    padding-top: 67px;
    background: #501214;
    color: white;
    padding-bottom: 16px;
}

.sidebar{
    float:right;
    padding-right:75px;
    padding-top:50px;
}
.sidebar button{
    font-size:22px;
    border:none;
    margin:20px;            
}

/* sets body size */
.body{
    width: 950px;
    background-color: var(--White);

}

/*container and that can change to page size*/
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}   

/*container for info that posts on left of page*/
.info-container{
    width: 50%; 
    height: 100%; 
    background-color: var(--LGrey)
} 

/*container for infor that posts on right of page, events, etc*/
.announcement-container{
    width: 50%; 
    height: 100%; 
    background-color: var(--Grey)
}

.club-name{
    font-size: 35px;
    text-align: center;
}


.officer-pic{
    width: 10%;
    height: auto;
    vertical-align: middle;
}

.club-info{
    text-align: center;
    margin: 10px auto 10px auto;
    display: block;
}

.club-announcement{
    width: 90%;
    text-align: left;
    margin: 10px auto 10px auto;
    display: block;
    background-color: var(--LGrey)
}

img{
    width: 35%;
    height: auto;
}