
       
/* Header/Logo Title */
.header {
  padding-top: 40px;
  background: #6A5638;
  color: white;
}
.header2 {
  padding-top: 67px;
  background: #501214;
  color: white;
  padding-bottom: 16px;
}

.body{
    font-family: Arial;
    position: relative;
}
.left-container{
    float: left;
    width: 42%;
}
.right-container{
    float: left;
    width: 43%;
    padding-left: 6px;
    
}
/* Page Content */
.club-name{
    font-size: 50px;
}

.bio{
    margin-bottom: 14px;
    margin-top: -24px;
    outline: 2px solid #1C6EA4;
    outline-offset: 2px;
}

.officers{
    outline: 2px solid #1C6EA4;
    outline-offset: 2px;
}
.meetings{
    margin-top: 65px;
    margin-bottom: 0px;
    outline: 2px solid #1C6EA4;
    outline-offset: 2px;
}
.dues{
    outline: 2px solid #1C6EA4;
    outline-offset: 2px;
}
.contact{
    outline: 2px solid #1C6EA4;
    outline-offset: 2px;
}
.club-logo{
    width: 250px;
    height: 175px;
    background-image: url(txstlogo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(100%, 25px);
    outline: 25px solid #1C6EA4;
    outline-offset: 0px;    
}
.sidebar{
    float:right;
    padding-right:75px;
    padding-top:50px;
}
.sidebar button{
    font-size:22px;
    border:none;
    margin:20px;            
}

